
html, body {
  height: 100%;
  margin: 0;
}

.App {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: lightblue;
  width: 30rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
}

.steps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.count {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: red;
}

.count > button {
  width: 10%;
  height: 50%;
  margin: 1rem;
}

.steps > button {
  width: 10%;
  height: 50%;
  margin: 1rem;
}