html, body {
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.App {
  background-color: white;
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  background-color: white;
  min-height: 60vh;
  width: 100vh;
}

.listContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0.5rem;
}

.listItem {
  width: 90%;
  height: 10%;
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.5rem;
  border-radius: 1.2rem;
  column-gap: 2rem;
  border: 1px solid lightgray;
}

.listItem  > img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.nameAndStatusContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.nameAndStatusContainer > h3, p {
  margin: 0;
}

.selectButtonContainer {
  background-color: orange;
  padding: 1rem 0.5rem;
  cursor: pointer;
  height: 10%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.6rem;
}

.buttonContainer {
  background-color: orange;
  padding: 1rem 0.5rem;
  cursor: pointer;
  height: 1rem;
  width: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.6rem;
}

.cardContainer {
  background-color:bisque;
  border-radius: 2rem;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.numberInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 2rem;
  justify-content: flex-start;
}

.numberInput > h2 {
  width: 20rem; 
  margin: 0;     
}

.numberInput > input {
  width: 5rem;
  height: 2rem;
}

.dropdownInput {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 2rem;
  justify-content: flex-start;
}

.dropdownInput > label {
  width: 20rem; 
  margin: 0;     
  font-weight: bold;
}

.dropdownInput > select {
  width: 5rem;
  height: 2rem;
}